* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #044600b7;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: 6rem;
  box-shadow: 0 0 1rem rgb(0, 0, 0);
  font-size: 8vmin;
  color: #00ffea;
  background-color: #ce1a53b8;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #dbeb00c0;
  color: #1231c9;
  border-radius: 1rem;
  border: none;
  font-weight: 600;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: darkred;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}

h1{
    font-size: 80px;
    font-weight: 800;
    margin: 1vmin;
    color: navy;
    padding: 2rem;
    border: 1rem;
    border-radius: 0.5rem;

}